
@{
    ViewData["Title"] = "carrinho";
}
@model CasaDoCodigo.Models.ViewModels.CarrinhoViewModel

<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row row-center">
            <div class="col-md-6">Item</div>
            <div class="col-md-2 text-center">Preço Unitário</div>
            <div class="col-md-2 text-center">Quantidade</div>
            <div class="col-lg-2 text-center">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.Itens)
        {
            <div class="row row-center" item-id="@item.Id">
                <div class="col-md-3">
                    <img src="~/images/Produtos/small_@(item.Produto.Id).jpg" />
                </div>
                <div class="col-md-3 text-center">@(item.Produto.Nome)</div>
                <div class="col-md-2 text-center">R$ @(item.Produto.Preco)</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" onclick="carrinho.clickDecremente(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>

                        <input type="text" value="@(item.Quantidade)" class="form-control text-center" onblur="carrinho.updateQuantidade(this)"/>

                        <span class="input-group-btn">
                            <button class="btn btn-default" onclick="carrinho.clickIncrement(this)">
                                <span class="glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    R$<span class="pull-right" subtotal>
                        @(item.SubTotal)
                    </span>
                </div>
            </div>

        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span class="pull-right" numero-itens> @Model.Itens.Count() </span>
            </div>
            <div class="col-md-2">
                Total R$<span class="pull-right" total>@(Model.Total)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="pedido"
               asp-action="resumo"
               class="btn btn-success pull-right">Finalizar Pedido</a>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/Carrinho.js"></script>
  
}

