
@{
    ViewData["Title"] = "Resumo";
}
@model CasaDoCodigo.Models.Pedido
<h2>Resumo</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @*PRIMEIRA LINHA*@
        <div class="row">
            <div class="col-md-12">
                <h3>Nº do Pedido: @Model.Id</h3>
            </div>
        </div>
        <hr />
        @*SEGUNDA LINHA*@
        <div class="row">
            <div class="col-md-3">
                <h3>Seus dados</h3>
                <div>@Model.Nome</div>
                <div>@Model.Telefone</div>
            </div>
            <div class="col-md-3">
                <div>
                    @Model.Email
                </div>
                <h3>Endereço de Entrega</h3>
                <div> @Model.Endereco , @Model.Complemento , @Model.Bairro - @Model.Municipio / @Model.UF - @Model.CEP</div>
            </div>
            <div class="col-md-6">

            </div>

        </div>
        <hr />
        @*TERCEIRA LINHA*@
        <div class="row">
            <div class="col-md-10">
                <h3>@(Model.Itens.Count < 2 ? "Item": "Itens")</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>
        @foreach (var item in Model.Itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        @item.Quantidade
                    </div>
                </div>
            </div>
        }
    </div>


